:root{
    --color-blanco: #E4E7EE;
    --color-gris: #333333ff;
    --color-negro: #06111e;
    --color-dorado: #e7a90c;
    --color-azul: #001e50;
    --color-rojo: #bf0000;
    --color-rosado: #e21347;
    --color-azul-oscuro: #041642;

    --color--navselec: var(--color-azul);
    --color--background: var(--color-blanco);
    --color--background-resaltado: var(--color-azul-transparente) ;
    --color--texto: var(--color-negro);
    --color--icon-nav: var(--color-negro);
    --color--targets: var(--color-rojo);
    --border--targets: 2px solid var(--color--targets);
    --color--fondo-nav: var(--color-dorado);

    --font-nombre: 'Great Vibes', 'Lucida Handwriting', cursive;
    --font-general: 'Alice', serif;
    --font-courgette: 'Courgette','Segoe Print', cursive;

    --img-logo: url(../imagenes/logos/logo.svg) no-repeat center;
    --img-coficont: url(../imagenes/logos/coficont_iso.png) no-repeat center;
    --img-gisslop: url(../imagenes/logos/GLC_LOGO.png) no-repeat center;
    --img-inmowasi: url(../imagenes/logos/inmowasi.webp) no-repeat center;
    --img-tavo: url(../imagenes/logos/tavo.png) no-repeat center;
 }
 *{
    transition: all .5s;
	scroll-behavior: smooth;
	scroll-margin-top: 110px;
	box-sizing: content-box;
}
a{
    text-decoration: none;
    border: none;
    cursor: pointer;
}
button{
    border: none;
    cursor: pointer;
}
body{
    /* margin-top: 90px; */
    background: var(--color--background);
    font-family: var(--font-general);
}
	/*Personalizacion Scroll*/

    *::-webkit-scrollbar{
        -webkit-appearance: none;
    }
    *::-webkit-scrollbar:vertical{
        width:	6px;
        background: var(--color--background);
    }
    *::-webkit-scrollbar-button:increment,
    *::-webkit-scrollbar-button{
        display: none;
    }
    *::-webkit-scrollbar:horizontal{
        height: 8px;
        background: var(--color--background);
        border-radius: 100px;
    }
    *::-webkit-scrollbar-thumb{
        background-color: var(--color-rojo);
        border-radius: 20px;
        border: 1px solid var(--color-blanco);
    }
    *::-webkit-scrollbar-track{
        border-radius: 5px;
    }
/* barra de navegacion principal */
.header{
    width: 100%;
    min-height: 90px;
    height: 9vh;
    max-height: 120px;
    background-color: var(--color-gris);
    position: fixed;
    z-index: 1000;
}
.contenedor_navegacion{
    width: 80%;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.contenedor_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 100%;
}
.logoNavegacion{
    background:var(--color-blanco)  var(--img-logo);
    background-size: contain;
    min-width: 45px;
    min-height: 45px;
    width: 4vw;
    height: 4vw;
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
    border: 4px solid var(--color-blanco);
}
.logoNombre{
    display: flex;
    flex-direction: column;
    font-family: var(--font-nombre);
    font-size: clamp(25px, 2.5vw, 50px);
    color: var(--color-blanco);
}
.studio{
    font-family: var(--font-general);
    font-size: clamp(15px, 1.8vw, 20px);
    text-align: center;
}
.navegacion_ul{
    display: flex;
    gap: 25px;
    height: 100%;
    align-items: center;
    color: var(--color-blanco);
}
.navegacion_li{
    font-size: clamp(18px, 2vw, 23px);
    height: 60%;
    padding: 5px 15px;
    align-content: center;
    border-radius: 20px;
}
.navegacion_li:hover{
    background: #e4e7ee56;
}
.navegacion_link{
    color: var(--color-blanco);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: clamp(18px, 1.3vw, 35px);
}
.navegacion_link.mostrar,
.navegacion_li:hover .navegacion_link{
    color: var(--color-dorado);
}
/* Configuracion Main General*/
.main{
    width: 100%;
    margin: auto;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
}
.inicio{
    display: flex;
    width: 100%;
    min-height: 65vh;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.contenedor_inicio{
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: center;
    gap: 30px;
    width: 50%;
    padding: 0 30px;
}
.inicio_titulo{
    font-size: clamp(25px, 2.25vw, 60px);
    color: var(--color-azul);
    font-weight: bold;

}
.inicio_parrafo{
    font-size: clamp(20px,1.3vw,32px);
}
.picture_inicio {
    background: url(../imagenes/img_presentacion.svg) no-repeat center;
    background-size: contain;
    width: 30vw;
    min-width: 280px;
    height: 20vw;
    min-height: 300px;
}
.inicio_boton{
    width: 45%;
    max-height: 45px;
    height: 20%;
    min-height: 30px;
    border-radius: 25px;
    background: none;
    color: var(--color-rojo);
    font-size: clamp(1em, 1.5vw, 35px);
    font-weight: bolder;
    padding: 15px;
    border: 2px solid var(--color-rojo);
    min-width: 250px;
    max-width: 400px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.inicio_boton:hover{
    cursor: pointer;
    background: var(--color-rojo);
    color: var(--color-blanco);
    box-shadow: 0 0 20px 3px var(--color-rojo);
}
.inicio_icon{
    font-size: clamp(1.5em, 1.5vw, 20px);
}
.servicios{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subtitulo{
    font-family: var(--font-courgette);
    font-size: clamp(1.7em, 2.12vw, 60px);
    text-align: center;
    color: var(--color-azul);
    font-weight: bolder;
}
.contenedor_servicios,
.contenedor_concepto{
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5vw;
}
.concepto_target{
    width: 100%;
    min-height: 200px;
    background: var(--color-azul);
    margin: 10px;
    display: flex;
    color: var(--color-blanco);
    font-size: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 20px 15px;
    box-sizing: content-box;
}
.concepto_target_subt{
    max-width: 300px;
    width: 10vw;
    min-width: 150px;
    background: var(--color-blanco) ;
    color: var(--color-azul);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border-radius: 5px;
    gap: 15px;
    padding: 5px 15px;
    text-align: center;
}
.concepto_target:nth-child(2n){
    background: var(--color-rojo);
    flex-direction: row-reverse;
}
.concepto_target:nth-child(2n) .concepto_target_subt{
    color: var(--color-rojo);
}
.concepto_icon{
    font-size: clamp(40px, 2.5vw, 50px);
}
.concepto_target_text{
    width: 90%;
    margin: 0 auto;
    font-size: clamp(18px, 1.2vw, 33px);
    text-align: center;
    line-height: 1.1;
}
.servicio_target{
    max-width: 450px;
    max-height: 450px;
    width: 15vw;
    height: 15vw;
    min-width: 210px;
    min-height: 210px;
    background: var(--color-azul);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    border: 3px solid var(--color-rojo);
    font-size: clamp(18px, 1.2vw, 25px);
    text-align: center;
    padding: 1.8vw;
    box-sizing: content-box;
    color: var(--color-blanco);
}
.servicio_target:nth-child(2n){
    border-color: var(--color-azul-oscuro);
    background: var(--color-rojo);
}
.servicio_icon{
    font-size: clamp(40px, 2.5vw, 100px);
}
.servicio_subtitulo{
    font-size: clamp(18px, 1.1vw, 30px);
    font-weight: bold;
}
.servicio_text{
    width: 90%;
    margin: 20px auto;
    font-size: clamp(18px, 1.1vw, 31px);
    color: var(--color-azul-oscuro);
    line-height: 1.5;
}
.proyectos_contenedor{
    width: 95%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.proyectos_target{
    width: 100%;
    min-height: 12vw;
    background: var(--color-rojo);
    border-radius: 15px;
    display: flex;
    align-items: center;
    box-sizing: content-box;
    padding: 20px;
    gap: 15px;
    color: var(--color-blanco);
}
.proyectos_target:nth-child(2n){
    background: var(--color-azul);
}
.proyecto_detalles{
    height: 100%;
    width: 81%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}
.proyectos_img{
    width: 10vw;
    height: 10vw;
    min-width: 150px;
    min-height: 150px;
    border-radius: 8px;
    background-size: contain;
}
.logo_dlr{
    background: var(--color-blanco) var(--img-logo);
}
.logo_gisslop{
    background: var(--color-blanco) var(--img-gisslop);
}
.logo_coficont{
    background: var(--color-blanco) var(--img-coficont);
}
.logo_inmowasi{
    background: var(--color-blanco) var(--img-inmowasi);
}
.logo_tavo{
    background: var(--color-blanco) var(--img-tavo);
}
.proyectos_img{
    background-size: contain;
}
.proyecto_subtitulo{
    font-size: clamp(1.5em, 1.5vw, 45px);
    font-family: var(--font-courgette);
    font-weight: bold;
}
.proyecto_parrafo{
    font-size: clamp(18px, 1.2vw, 35px);
}
.vermas_alineacion{
    width: 100%;
    display: flex;
    justify-content: end;
}
.vermas{
    width: fit-content;
    font-size: clamp(18px, 1.15vw, 35px);
    background: none;
    color: var(--color-blanco);
    text-align: right;
    padding: 8px 10px;
    border-radius: .2vw;
    border: .3vw double var(--color-blanco);
    font-weight: bolder;
}
.vermas:hover{
    color: var(--color-azul);
    background: var(--color-blanco);
    border: 5px double var(--color-rojo);
}
.whatsappflotante{
    min-width: 60px;
    min-height: 60px;
    width: 3.2vw;
    height: 3.2vw;
    position: fixed;
    bottom: 15vh;
    right: -50vw;
}
.whatsappflotante.scroll{
    display: block;
    right: 1.1vw;
}
.whatsappflotanteicon{
    width: 100%;
    height: 100%;
    color: var(--color-azul);
}
.whatsappflotanteicon:hover{
    color: #39DA56;
    filter: drop-shadow(0 0 15px #39DA56a9);
}
/* configuracion footer*/
.footer{
    color: var(--color-blanco);
    background: var(--color-gris);
    border-top: 20px solid var(--color-gris);
    /* margin: 2em auto 0; */
}
.footer_contenedor{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 15vh;
    gap: 15px;
    margin: auto;
    text-align: center;
    font-size: clamp(15px, 1vw, 30px);
}
.footerTexto{
    color: var(--color-blanco);
}
.footerUser{
    font-family:var(--font-courgette);
    color: var(--color-blanco);
}
.textResaltado{
    font-weight: bold;
    color: var(--color-rojo);
}
.footerRedesRociales{
    display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
}
.footerResaltado{
    color: var(--color-dorado);
}
.footerIcons:hover,
.footerResaltado:hover{
    color: var(--color-dorado);
    font-weight: bold;
}
.footerIcons{
	font-size: clamp(1.8rem, 2vw, 50px);
	color: var(--color-blanco);
}
/* Responsividad para telefonos*/
@media screen and (max-width: 1000px) {
   .contenedor_navegacion{
    width: 85%;
   }
}
@media screen and (max-width: 850px){
    .contenedor_navegacion{
        width: 95%;
    }
    .proyectos_target{
        gap: 10px;
        flex-direction: column;
    }
    .proyecto_subtitulo{
        text-align: center;
    }
    .proyecto_detalles{
        width: 100%;
        gap: 10px;
        text-align: justify;
    }
}
@media screen and (max-width: 750px) {
    .contenedor_logo{
        width: 95%;
    }
    .picture_inicio{
        width: 85%;
    }
    .logoNombre{
        font-size: clamp(35px, 4.5vw, 55px);
    }
    .studio{
        font-size: clamp(18px, 3.5vw, 25px);
    }
    .navegacion_ul{
        position: fixed;
        background: var(--color-gris);
        bottom: 0;
        left: 0;
        width: 100%;
        gap: initial;
        height: 80px;
        /* border-radius: 50px; */
        justify-content: space-around;
        border-top: 3px solid var(--color-blanco);
    }
    .navegacion_li:hover{
        background: none;
    }
    .navegacion_nombre{
        position: absolute;
        opacity: 0;
    }
    .navegacion_link:hover .navegacion_nombre,
    .navegacion_link.mostrar .navegacion_nombre{
        opacity: 1;
    }
    .navegacion_icon{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navegacion_link:hover .navegacion_icon,
    .navegacion_link.mostrar .navegacion_icon{
        transform: translateY(-80%);
        background-color: var(--color-gris);
        border: 3px solid var(--color-blanco);
        border-radius: 50%;
    }
    .footer{
        height: calc(18vh + 80px )
    }

    .inicio{
        flex-direction: column-reverse;
        min-height: 50vh;
    }
    .servicio_target{
        max-width: 100%;
        width: 100%;
        justify-content: space-evenly;
        min-height: 150px;
        flex-direction: initial;
    }
    .contenedor_inicio{
        width: 80%;
        margin: auto;
        align-items: center;
        text-align: center;
    }
    .concepto_target,
    .concepto_target:nth-child(2n){
        flex-direction: column;
        padding: 30px;
        gap: 30px;
    }
    .concepto_target_subt{
        max-width: initial;
        width: 90%;
        flex-direction: initial;
        min-width: initial;
        height: 80px;
    }
}
@media screen and (max-width: 400px) {
    .infoImportante{
        text-align: left;
    }
    .formularioContacto{
        display: flex;
        flex-direction: column;
    }
    .navegacion_nombre{
        display: none;
    }
    .footer{
        height: calc(20vh + 80px )
    }
}